@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html,
    body {
        @apply h-full w-full m-0 p-0 overflow-x-hidden;
        background-color: #0a0a2a;
        background-image:
            radial-gradient(circle at top right, #800000 0%, transparent 25%),
            radial-gradient(circle at bottom left, #ceb888 0%, transparent 20%),
            linear-gradient(to bottom, #0a0a2a, #000010);
        @apply text-white;
        background-attachment: fixed;
    }
}